.carousel .control-dots .dot {
    background-color: #ddd; /* Default dot color */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 1;
}

.carousel .control-dots .dot.selected {
    background-color: orange; /* Active dot color */
}

/* Custom styles for the carousel dots */
.carousel .control-dots {
    position: absolute;
    bottom: 10%; /* Adjust this value to place the dots at the desired height */
    left: 57%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.carousel .control-dots .dot {
    background: #ccc; /* Default dot color */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    transition: background 0.3s;
}

.carousel .control-dots .dot.selected {
    background: #ff7f00;
    padding-right: 30px; /* Active dot color */
    border-radius: 3px;
    height: auto;
}
@media (max-width: 750px) {
    .carousel .control-dots {
        position: absolute;
        bottom: 8%; /* Adjust this value to place the dots at the desired height */
        left: 30%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 570px) {
    .carousel .control-dots {
        position: absolute;
        bottom: 9%; /* Adjust this value to place the dots at the desired height */
        left: 40%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 450px) {
    .carousel .control-dots {
        position: absolute;
        bottom: 9%; /* Adjust this value to place the dots at the desired height */
        left: 40%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }
    .carousel .control-dots .dot.selected{
        padding-right: 30px;
    }
}
@media (max-width: 400px) {
    .carousel .control-dots {
        position: absolute;
        bottom: 9%; /* Adjust this value to place the dots at the desired height */
        left: 60%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }
    .carousel .control-dots .dot.selected{
        padding-right: 30px;
    }
}